.tablero {
    background-color: white;
}

.div-tablero {

    background-color: rgb(229, 229, 236);
    display: grid;
    gap: 2rem;
    padding: 3rem;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 8rem);   
}

.carta {
    width: 8rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: box-shadow 0.3s ease;
    font-size: 4rem;
    -webkit-box-shadow: 7px 10px 48px 0px rgba(105, 105, 105, 1);
    -moz-box-shadow: 7px 10px 48px 0px rgba(105, 105, 105, 1);
    box-shadow: 7px 10px 48px 0px rgba(105, 105, 105, 1);

    cursor: pointer;
    transform-style: preserve-3d;
    position: relative;
}

.frente, .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
}

.frente {
    background-color: white;
}

.atras {
    background-color: maroon;
    color: white;
    transform: rotateY(180deg);
}

.marcado .frente {
    transform: rotateY(180deg);
}

.marcado .atras {
    transform: rotateY(0deg);
}
